<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.betise_lunchline_client.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.betise_lunchline_client.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.betise_lunchline_client.app.modules.notificationcomplete.ui.NotificationCompleteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.cartempty.ui.CartEmptyActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.otp.ui.OtpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.profilepage.ui.ProfilePageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.notificationincomplete.ui.NotificationIncompleteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.signup1two.ui.Signup1TwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.orderrecieved.ui.OrderRecievedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.signup2two.ui.Signup2TwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.searchpage.ui.SearchpageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.homepage.ui.HomePageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.successfullpayment.ui.SuccessfullPaymentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.betise_lunchline_client.app.modules.cart.ui.CartActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.betise_lunchline_client.app.modules.splash.ui.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.betise_lunchline_client.app.modules.dishpage.ui.DishPageActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
